// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$el-color-primary-light-1: #409EFF;
$el-color-primary-light-2: #66b1ff;
$el-color-primary-light-3: #3375b9;
$el-color-primary-light-4: #2a598a;
$el-color-primary-light-5: #213d5b;
$el-color-primary-light-6: #1d3043;
$el-color-primary-light-7: #18222c;


$el-color-success-light-1: #67C23A;
$el-color-success-light-2: #85ce61;
$el-color-success-light-3: #4e8e2f;
$el-color-success-light-4: #3e6b27;
$el-color-success-light-5: #2d481f;
$el-color-success-light-6: #25371c;
$el-color-success-light-7: #1c2518;

$el-color-warning-light-1: #E6A23C;
$el-color-warning-light-2: #ebb563;
$el-color-warning-light-3: #a77730;
$el-color-warning-light-4: #7d5b28;
$el-color-warning-light-5: #533f20;
$el-color-warning-light-6: #3e301c;
$el-color-warning-light-7: #292218;


$el-color-danger-light-1: #F56C6C;
$el-color-danger-light-2: #f78989;
$el-color-danger-light-3: #b25252;
$el-color-danger-light-4: #854040;
$el-color-danger-light-5: #582e2e;
$el-color-danger-light-6: #412626;
$el-color-danger-light-7: #2b1d1d;

$el-color-info-light-1: #909399;
$el-color-info-light-2: #a6a9ad;
$el-color-info-light-3: #6b6d71;
$el-color-info-light-4: #525457;
$el-color-info-light-5: #393a3c;
$el-color-info-light-6: #2d2d2f;
$el-color-info-light-7: #202121;
